$light-blue: #87ceeb;
$cloudy-background: linear-gradient(to bottom right, $light-blue, #ffffff);

html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
