@import "../../styles";

:host {
  flex: 1;
}

.card {
  background: $cloudy-background;
  border-radius: 0.25rem;
  padding: 0.5rem;

  .date-header {
    border-bottom: 1px solid #d9d9d9;

    .day {
      font-weight: bold;
      font-size: 22px;
    }
  }

  .label-value-pair {
    margin-right: 1rem;
    margin-top: 0.5rem;
    min-width: 6rem;

    label {
      color: lightslategray;
    }

    .value {
      font-weight: bold;
    }
  }
}
